# Directories that are generated
/docs
/tags

# Filetypes
*~
*.pyc
*.swp

# OSX
.DS_Store

# Editor-specific settings
.clang_complete

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
